.container .linkedIn {
  animation: aparecer 5.9s linear forwards;
}
.container .github{
  animation: aparecer 5.9s linear forwards;
}
@keyframes aparecer{
  0%,90%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}