.apresentacao{
  background-image: linear-gradient(to left, #141414,#041a99);
  background-size: 500%;
  animation: animacaoBackground 3s infinite alternate;
  margin-top: 88px;
  height: calc(100vh - 88px);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 88px);
}
.container h1{
  place-self: center;
  color: rgb(162, 162, 224);
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  letter-spacing: .08em;
  font-size: 2.25rem;
  max-width: 34ch;
}
.container h1::after{
  content: '|';
  display: inline-block;
  margin-left: 5px;
  opacity: 1;
  animation: blink .7s infinite;
  z-index: 1;
}
@keyframes blink{
  0%,100%{
    opacity: 1;
  }50%{
    opacity: 0;
  }
}
.container .redes{
  display: flex;
  height: 200px;
}
.container .redes-container{
  display: flex;
  /* gap: 20px; */
  align-items: end;
}
.github{
  margin-left: 20px;
}
/* .linkedIn{
  animation: moverEsq .8s forwards;
} */
.container .redes{
  display: flex;
  justify-content: center;
}
.container strong{
  color: white;
  font-weight:900;
}

@media(min-width: 1200px){
  .apresentacao{
    margin-top: 78px;
    height: calc(100vh - 78px);
  }
  .container{
    height: calc(100vh - 78px);
  }
}
@media(max-width: 800px){
  .container h1{
    font-size: 1.625rem;
  }
  .container .redes svg{
    width: 89%;
  }
}
@media(max-width: 600px){
  .container h1{
    font-size: 1.25rem;
    max-width: 26ch;
  }
}