.contato-footer{
  background-color: #30447f;
  padding: 40px 0px; 
  margin-top: 80px;
  background-image: url('../img/textura-bg.png');
  background-position: center;
}
.contato-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  margin-top: 120px;
}
.localizacao{
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  margin-bottom: 72px;
}
.localizacao p{
  line-height: 1.5;
}
.localizacao h3{
  color: #b7d5eb;
}
.email{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: start;
  text-align: center;
  margin-bottom: 72px;
}
.email a{
  color: #b7d5eb;
}
.contato{
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
/* .contato-container .redes-container{
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
} */
.redes a svg{
  fill: red;
}
.redes a:hover svg{
  fill: #aec1f9;
}
/* @media(min-width: 1101px){
  .redes{
  grid-column: 1/-1;
  }
} */
@media(max-width: 1100px){
  .localizacao::after{
    content: '';
    display: block;
    width: 250px;
    height: 1px;
    background-color: #aec1f9;
    margin-top: 40px;
  }
}
@media(max-width:1096px){
  .email::after{
    content: '';
    display: block;
    width: 250px;
    height: 1px;
    background-color: #aec1f9;
    margin-top: 101px;
  }
}
@media(max-width: 1096px) and (min-width: 736px){
  .direitos{
    margin-top: 120px;
  }
}

@media(max-width: 750px){
  .contato-container{
    grid-template-columns: 1fr;
  }
  .email::after{
    content: '';
    display: block;
    width: 250px;
    height: 1px;
    background-color: #aec1f9;
    margin-top: 40px;
  }
  .localizacao{
    margin-bottom: 40px;
  }
  .email{
    margin-bottom: 40px;
  }
  .direitos::before{
    content: '';
    display: block;
    width: 250px;
    height: 1px;
    background-color: #aec1f9;
    margin-bottom: 80px;
  }
  .contato{
    margin-bottom: 40px;
  }
  /* .contato-container .redes{
    grid-column: 1;
  } */
  /* .contato-container .redes-container{
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
  } */
  .contato-container .redes::before{
    content: '';
    display: block;
    width: 250px;
    height: 1px;
    background-color: #aec1f9;
  }
}
.contato a{
  color: #b7d5eb;
}
.direitos{
  grid-column: 1/-1;
  text-align: center;
}
.direitos h4{
  color: #4a76b1;
  font-size: .875rem;
}
.contato-container p{
  color: #4a76b1;
}
.icone a:hover svg{
  fill: #aec1f9;
}


