.formacao-container{
  max-width: 1200px;
  margin: 40px auto 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 118px 40px 40px 40px;
  margin-bottom: 120px;
}
.formacao-introducao{
  grid-column: 1/-1;
  text-align: center;
  margin: 0 auto;
  max-width: 60ch;
}
.curriculo{
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 152px;
  gap: 100px;
}
.curriculo a{
  text-transform: uppercase;
  letter-spacing: .08em;
  font-weight: 500;
}
.curriculoLink{
  padding: .5rem 1.25rem;
  background-color: #3b9aff;
  border-radius: 8px;
  color: #0b0b56;
  border: 1px solid #3b9aff;
  box-shadow: 0px 3px 4px #1a167f6e;
}
.contatoLink{
  padding: .5rem 1.25rem;
  color: #3b9aff;
  border: 2px solid #3b9aff;
  border-radius: 8px;
}
.formacao-introducao h1{
  margin-bottom: 16px;
}
.cursos{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 40px;
  align-items: center;
  justify-items: center;
  gap: 40px;
  text-transform: uppercase;
}
.cursos-tipo{
  grid-column: 1;
  grid-row: 1/2;
  position: relative;
}
.cursos-titulo::before{
  content: '';
  display: block;
  position: absolute;
  top: -60px;
  left: -54px;
  width: 1px;
  height: 250px;
  background-color: #aec1f9;
  z-index: 2;
}
.cursos-titulo{
  grid-column: 2;
  max-width: 65ch;
  position: relative;
}

.cursos-titulo h2::before{
  content: '';
  display: block;
  background-image: url('../img/icones/icon-school.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 20px;
  left: -80px;
  z-index: 3;
  background-color: rgb(59, 154, 255);
  border-radius: 50%;
  padding: 2px;
}
.cursos-tipo .font-p{
  color:#7186c3;
  letter-spacing: .05em;
}
.cursos-tipo .font-m{
  color:#30447f;
}
.cursos-titulo .font-p{
  font-weight: 400;
  text-transform: none;
  color:#7186c3;
  margin-top: 8px;
  letter-spacing: .01em;
}
.cursos-titulo .font-m{
  color:#30447f;
  font-weight: 500;
}
.formacao-introducao .font-g-2{
  color:#7186c3;
}
.formacao-introducao .font-p{
  color:#7186c3;
  font-weight: 400;
}
.formacao-introducao .font-p > strong, .cursos-titulo .font-p > strong{
  color:#0f1d47;
  font-weight: 700;
  text-transform: uppercase;
}
@media(min-width: 1250px){
  .cursos-titulo::before{
    top: 0px;
    left: -17px;
  }
  .cursos-titulo h2::before{
    left: -43px;
  }
  .cursos-titulo h2,.cursos-titulo p{
    margin-left: 100px;
  }
  .curriculoLink{
    margin-right: 24px;
  }
}
@media(max-width: 1250px){
  .cursos{
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  .cursos-titulo{
    grid-column: 1;
  }
  .cursos-titulo h2::before{
    top: -50px;
  }
  .cursos-titulo::before{
    top: -110px;
    height: 290px;
  }
  .cursos-tipo h2{
    position: relative;
  }
}
@media(max-width: 800px){
  .cursos-titulo::before{
    display: none;
  }
  .cursos-titulo h2::before{
    top: -90px;
    left: 50px;
  }
  .curriculo{
    margin-top: 60px;
  }
}
@media(max-width: 700px){
  .cursos-titulo h2::before{
    top: -85px;
    left: -15px;
  }
  .formacao-introducao{
    margin-bottom: 20px;
  }
  .formacao-container{
    gap: 10px;
  }
  .cursos{
    border-bottom: 1px solid #aec1f9;
  }
  .formacao-container{
    margin-bottom: 48px;
  }
  .curriculo{
    gap: 20px;
  }
}
@media(max-width: 450px){
  .cursos-titulo h2::before{
    display: none;
  }
  .cursos{
    padding: 20px;
    gap: 10px;
  }
  .curriculo{
    flex-direction: column;
  }

}