header{
  width: 100%;
  position: fixed;
  top: 0px;
  background-image: linear-gradient(to left, #141414,#041a99);
  background-size: 500%;
  animation: animacaoBackground 3s infinite alternate;
  z-index: 1000;
}
.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
}
.header-menu{
  display: flex;
}
.header-menu li{
  padding: 4px 8px;
}
.header-menu li a{
  padding: 8px 16px;
  color: #aec1f9;
  letter-spacing: .05em;
  position: relative;
}
.header-menu li a::after{
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-top: 4px;
  border-radius: 4px;
  transition: 0.3s;
}
.header-menu li a:hover:after{
  width: 100%;
}
.btnMobile{
  display: none;
}
nav{
  background-size: 500%;
  animation: animacaoBackground 3s infinite alternate;
  background-image: none;
}
@media(max-width: 800px){
  nav{
    background-image: linear-gradient(to left, #141414,#041a99);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 88px;
    left: 0px;
    width: 100%;
    height: 0px;
    z-index: 1000;
    transition: .3s;
  }
  .header-menu li a::after{
    display: none;
  }
  .btnMobile{
    display: flex;
    padding: 8px 16px ;
    border: none;
    background: none;
    cursor: pointer;
    gap: 5px;
  }
  .btnMobile span{
    display: block;
    border-top: 4px solid #aec1f9;
    border-radius: 4px;
    width: 30px;
  }
  .btnMobile span::after, .btnMobile span::before {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background: #aec1f9;
    margin-top: 5px;
    transition: .3s;
    position: relative;
    border-radius: 4px;
  }
  .btnMobile span::after{
    border-radius: 0px 0px 4px 4px;
  }
  .header-container.active span{
    border-top-color: transparent;
  }
  .header-container.active span::after{
    border-radius: 4px;
    transform: rotate(135deg);
    top: -9px;
  }
  .header-container.active span::before{
    border-radius: 4px;
    transform: rotate(-135deg);
  }  
  nav a{
    visibility: hidden;
  }
  .header-container.active nav a{
    visibility: visible;
  }
  .header-container.active nav{
    visibility: visible;
    opacity: 1;
    height: 245px;
    box-shadow: 0px 12px 10px rgba(0, 0, 0, .08);
  }

  .header-menu{
    flex-direction: column;
    margin-top: 25px;
    gap: 20px;
    padding: 20px 0px;
  }
  .header-menu li{
    place-self: center;
  }
  .header-container.active .header-menu li:hover{
    text-align: center;
    width: 100%;
    background-color: blue;
  }
}
@keyframes animacaoBackground{
  from{
    background-position-x: 0%;
  }100%{
    background-position-x: 100%;
  }
}