.projetos-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 118px 40px 40px 40px;
}
.projeto-card{
  max-width: 360px;
  border: 1px solid #aec1f9;
  padding: 40px;
  border-radius: 4px;
}
.projeto {
  text-align: center;
  margin-bottom: 60px;
  color: #7186c3;
  grid-column: 1/-1;
}
.card-imagem{
  max-width: 100%;
  margin-bottom: 20px;
}
.card-imagem img{
  max-width: 100%;
  object-fit: cover;
}
.card-titulo-p{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.card-titulo-p h2{
  text-align: center;
}
.card-links{
  display: flex;
  flex-direction: column;
  gap: 8px;
}