.projetos-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-items: center;
  max-width: 1200px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 118px 40px 40px 40px;
}
.projetos-container .projeto{
  grid-column: 1/-1;
  color: #7186c3;
}
h2.projeto{
  margin-bottom: 116px;
  text-align: center;
}
.titulo{
  color: #b4d1e7;
}
.card__giratorio {
  background-color: transparent;
  width: 360px;
  height: 300px;
  perspective: 1000px;
}
.card__giratorio img{
  max-width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
  border: 1px solid #87b1d1;
  box-shadow: 2px 2px 10px rgba(0, 0, 50, .15);
}

.card__giratorio-conteudo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.8s;
  transform-style: preserve-3d;
}
@media(min-width: 600px){
  .card__giratorio:hover .card__giratorio-conteudo{
    transform: rotateY(180deg);
  }
}
.card__giratorio.card-mobile .card__giratorio-conteudo.view{
  transform: rotateY(-180deg);
}

.card__giratorio-conteudo--frente,
.card__giratorio-conteudo--traseira {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
 -webkit-backface-visibility: hidden; 
  /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to left, #064287,#0521c0);
  background-size: 500%;
  animation: animacaoBackground 3s infinite alternate;
  box-shadow: 4px 4px 12px rgba(1, 1, 99, 0.366);
}
.sobre-site{
  margin-bottom: 40px;
  color: #87b1d1;
  line-height: 1.4;
}
.sobre-site strong{
  color: #dde7ee;
}
.card__giratorio-conteudo--traseira a{
  margin-bottom: 8px;
  color: #87b1d1;
}
.card__giratorio-conteudo--traseira a:hover{
  color: #dde7ee;
  scale: 1.1;
}
.link-projeto{
  position: relative;
}
.card__giratorio:hover .card__giratorio-conteudo .link-projeto::after{
  content: '';
  display: block;
  position: absolute;
  width: 53px;
  height: 33px;
  background-image: url('../img/icones/arrow.svg');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  top: -6px;
  left: 120px;
  animation: moveSeta 1s linear infinite alternate;
}

.card__giratorio-conteudo--frente {
  border: 1px solid #87b1d1;
}

.card__giratorio-conteudo--traseira{
  border: 1px solid #87b1d1;
  transform: rotateY(180deg);
}
@keyframes moveSeta{
  0%{
    margin-left: 0px;
  }
  100%{
    margin-left: 10px;
  }
}
@media(max-width: 500px){
  .projetos-container{
    padding-left: 25px;
  }
}