@import url('../css/global.css');
@import url('../css/utilitario.css');
@import url('../css/header.css');
@import url('../css/apresentacao.css');
@import url('../css/formacao.css');
@import url('../css/experiencia.css');
@import url('../css/projetos.css');