.subir{
  position: relative;
}
.subir-container{
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #aec1f9;
  box-shadow: 1px 3px 4px #0007308b;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 28px;
  background-image: url('../img/icones/subir.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 888;
  bottom: 10px;
  right: -100px;
  transition: .6s;
}
.subir-container.showBtn{
  right: 20px !important;
}