.font-p{
  font-size: 1.1875rem;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}
.font-m{
  font-size: 1.5rem;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}
.font-g{
  font-size: 2rem;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}