.font-p{
  font-size: 1.1875rem;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
.font-m{
  font-size: 1.5rem;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
.font-g{
  font-size: 2rem;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}
.font-g-2{
  font-size: 2rem;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
}
@media(max-width: 700px){
  .font-m{
    font-size: 1rem;
  }
  .font-p{
    font-size: .875rem;
  }
}